/**
 * index.scss
 * - Add any styles you want here!
 */
:root {
  --keyColor: #1ed25e;
  --border-width: 20px;
  --showDecorations: 1;
  --backgroundBlur: 0; }
  @media only screen and (min-width: 768px) {
    :root {
      --border-width: 40px; } }

body {
  background: #181818;
  font-family: "futura-pt", sans-serif; }
  body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    border: var(--border-width) solid #181818;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 10; }
  body.js-no-scroll {
    position: relative;
    overflow: hidden;
    height: 100vh; }

.title {
  top: 5px; }
  @media only screen and (min-width: 768px) {
    .title {
      top: 15px; } }

.count {
  bottom: 4px; }
  @media only screen and (min-width: 768px) {
    .count {
      bottom: 12px; } }

.title,
.count {
  position: fixed;
  left: 50%;
  margin: 0;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
  color: white;
  transform: translateX(-50%);
  z-index: 20;
  opacity: var(--showDecorations);
  transition: opacity .25s ease; }
  @media only screen and (min-width: 768px) {
    .title,
    .count {
      font-size: 12px; } }

.playlist {
  position: relative;
  min-height: 100vh;
  color: #181818;
  background-color: #fff; }
  .playlist:not(:last-child) {
    border-bottom: 5px solid #181818; }
  .playlist::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 300px black;
    outline: 20px solid rgba(0, 0, 0, 0.25);
    outline-offset: calc(var(--border-width) * -1 - 20px);
    z-index: 2;
    pointer-events: none; }
  .playlist__embed {
    position: fixed;
    top: calc(var(--border-width) * 2);
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - (var(--border-width) * 6));
    z-index: 1;
    transition: opacity .25s ease; }
    .playlist__embed > button {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: transparent;
      border: 0; }
      .playlist__embed > button:hover svg {
        transform: rotate(-90deg); }
      .playlist__embed > button svg {
        transition: transform .15s ease-in; }
        .playlist__embed > button svg * {
          fill: white; }
    .playlist__embed iframe {
      height: calc(100vh - 140px);
      padding-top: 70px;
      max-height: 60vh; }
  .playlist__title {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    font-size: 34px;
    color: #fff;
    text-shadow: 2px 1px 0px black;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: var(--showDecorations);
    transition: opacity .25s ease; }
    .playlist__title * {
      margin: 0;
      text-align: center; }
    .playlist__title .explicit {
      margin-left: 5px;
      padding: 4px 6px;
      font-size: 12px;
      text-shadow: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: red;
      background-color: rgba(24, 24, 24, 0.25);
      vertical-align: super;
      outline: 1px solid;
      outline-offset: -2px; }
  .playlist__number {
    position: fixed;
    left: calc(var(--border-width) + 20px);
    bottom: calc(var(--border-width) + 20px);
    padding: 20px;
    padding-right: 10px;
    font-size: 23px;
    color: white;
    background-color: #181818;
    z-index: 6;
    opacity: var(--showDecorations); }
    @media only screen and (min-width: 768px) {
      .playlist__number {
        font-size: 56px; } }
    .playlist__number h2 {
      margin: 0; }
    .playlist__number span {
      padding-right: 5px;
      text-transform: uppercase;
      font-size: 20px;
      vertical-align: super; }
      @media only screen and (min-width: 768px) {
        .playlist__number span {
          font-size: 45px; } }
  .playlist__banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .playlist__banner::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      mix-blend-mode: darken;
      z-index: 1; }
    .playlist__banner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(var(--backgroundBlur)); }
  .playlist__play {
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    background: transparent;
    border: 0;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: var(--showDecorations);
    transition: opacity .25s ease; }
    .playlist__play svg {
      display: block;
      height: 90px;
      width: 90px; }
  .playlist__stats {
    position: absolute;
    top: calc(var(--border-width) + 20px);
    right: calc(var(--border-width) + 20px);
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
    z-index: 2;
    color: #fff;
    opacity: var(--showDecorations);
    transition: opacity .25s ease; }
    .playlist__stats ul {
      margin: 0; }
    .playlist__stats li {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 20px;
      padding: 0;
      list-style: none;
      font-size: 18px; }
    .playlist__stats svg {
      display: block;
      margin-left: 10px;
      width: 14px;
      height: 14px;
      opacity: .85; }
      .playlist__stats svg * {
        fill: currentColor; }
  .playlist__tags {
    position: absolute;
    right: calc(var(--border-width) + 20px);
    bottom: calc(var(--border-width) + 20px);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0;
    list-style: none;
    font-size: 12px;
    color: #fff;
    opacity: var(--showDecorations);
    transition: opacity .25s ease;
    z-index: 5; }
    .playlist__tags li {
      padding: 5px;
      font-size: 14px;
      font-weight: bold; }
      .playlist__tags li:not(:last-child) {
        margin-right: 20px; }
        .playlist__tags li:not(:last-child)::after {
          content: '/';
          position: absolute;
          margin-left: 10px; }
